<!-- This is just a test form for tetsing SQLAlchemy ORM framework. Not ment for Production
    level deployemnt!  -->
<div class="" style="text-align: center;">
    <h3>Register Here</h3>
    <form method="POST" action="register">
        <table style="display: inline-table;">
            <tr>
                <td>Name</td>
                <td><input type="text" name="username" value="" placeholder="Name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" value="" placeholder="Email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" value="" placeholder="Password"></td>
            </tr>
        </table>
        <br>
        <br>
        <input type="submit" name="" value="Submit">
    </form>
</div>

<div style="text-align: center;"> 
    <a href="users"><button>View All Users</button></a>
</div>